/* =======================================
    * RESET DOCUMENT HTML 
=========================================*/
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background-color: var(--black-color);
    color: #212529;
}

img,
svg {
  vertical-align: middle;
}